  
* {
    margin: 0px;
    padding: 0px;
  }

body{
    margin: 5px;
    background-color: rgb(4, 4, 4);
}
/*-------------------------------------------------------------CONTAINER SOBRE MIM.....------*/
.container{  
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: rgb(14, 13, 13);
    height: 30px;
    max-height: 500px;
    color: orange;     
}
@media screen and (max-width: 650px) {
    .container {
      position:absolute;
      z-index: 1;
      height: 90%;
      width: 20vw;
      display: flex;      
      flex-direction: column;
      text-align: center;
      }
    }
    @media screen and (max-width: 500px) {
        .container {
          padding: 0;
          margin-top: 0;
          position: relative;
          width: 100%;
          display: flex; 
          flex-direction: column;       
          font-size: 3.5vh;                
        }
    }
a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange; 
    text-decoration: none;
}
a:hover 
{
    color: #ffff; 
     text-decoration:none; 
     cursor:pointer;  
}
@media screen and (max-width: 500px) {
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding: 7px;
        width: 100%;
        background-color: black;
    }
}  
button{
    font-size: .7rem;
    height: 4vh;
    width: 8vw;
    border-radius: 5px;
    background-color: orange;
}
@media screen and (max-width:650px) {
    button{
        width: 15vw;
        height: 5vh;        
    }
}
@media screen and (max-width:500px) {
    button{
        font-size: .8rem;
        width: 35vw;
        min-height: 6vh;        
    }
}           
/*-------------------------------------------------------------imagem fundo.....------*/
#imgTela{
    margin: 0;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
@media screen and (max-width:500px) {
    #imgTela{
        display: none;               
    }
} 
/*-------------------------------------------------------------Olá /foto perfil / developer ....------*/
#boxapresent{  
    display: flex;
    flex-direction: column;
    align-items: center;    
    position: absolute;
    top: 70px;
    right: 5%;
    color: orange;
}
@media screen and (max-width:500px) {
    #boxapresent{
        margin-left: 10%;
        margin-top:-50px;
        position: relative;
    }
} 
#imgFoto{    
    height: 38vh;
    max-height: 300px;
    margin-top: 40px; 
}
h1{  
    font-size: 1.3rem;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin-right: .2vh; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        100% { border-color: orange; }
      }   
      
      h2{          
          margin-top: 10px;
      }
/*-------------------------------------------------------------Sobre Mim ....------*/
#sobre{  
    color: orange; 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 2rem;  
}
@media screen and (max-width:500px) {
    #sobre{
        margin-top: 80px;
        position: relative;
    }
} 
.msg{ 
    display: flex;
    justify-content: center;
    text-align: center;                              
    margin-top: 5px;
    color: #ffff;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 5px;
   }
/*-------------------------------------------------------------Minhas Redes ....------*/
#redes{                               
    margin-top: 20px;
    min-height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;  
    color: orange; 
}
.rede{
    margin-top: 8px;                             
    height: 13vh;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;    
    justify-content: space-around;        
}
@media screen and (max-width:500px) {
    .rede{
        margin-top: 90px;
        display: flex;
        flex-direction: column;
    }
} 


.rede :hover{        
    -webkit-transform: scale(1.2);
       transform: scale(1.2)	
 } 
 .img-git{
    width: 8vh;
}
.img-linkedin{
    width: 8vh;
}
.img-email{
    width: 8vh;
}
.img-telefone{
    width: 6vh;
}
/*-------------------------------------------------------------Projetos.....------*/
#project{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: orange; 
}
@media screen and (max-width:500px) {
    #project{        
        margin-top: 100px;
        display: flex;
    }
} 
.col-xs-2{
    display: flex;   
    justify-content: space-around; 
    margin-top: 10px;
    width: 100%;
    display: flex; 
}
@media screen and (max-width:500px) {
    .col-xs-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.box-col{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(12, 12, 12);
    width: 20vw;
    height: 100%;    
}
@media screen and (max-width:500px) {
    a:link{
        width: 320px;
    }
} 

.img-box {
    border-radius: 7px;
    width: 100%;
    height: 23vh;
}

.title{
    color: #ffff;
    font-size: 1.2rem;
    padding: 2px;
}
/*---------------------------------------------------------------Skills.....------*/
#title-skills{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;  
    color: orange; 
}
#title-learning{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;  
    color: orange; 
}
.skills{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#img-skills{
    width: 6vw;
    height: 12vh;
}
.box-skills{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 14vh;
    background-color: rgb(12, 12, 12);
    padding: .5%;
}
.box-skills :hover{        
    -webkit-transform: scale(1.2);
       transform: scale(1.2)	
 } 
 @media screen and (max-width:650px) {
    .box-skills{
        width: 10vw;
   }
}
@media screen and (max-width:650px) {
    .box-skills{
        margin: 5px;
        width: 30vw;
        border: 1px solid white;
   }
}
@media screen and (max-width:400px) {
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

#img-skills{
    width: 90%;
    height: 12vh;
}
#img-unidombosco{
    margin: 5px;
    width: 20vw;
}
.box-unid{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    background-color: rgb(12, 12, 12);
    
}
.box-unid :hover{        
        -webkit-transform: scale(1.1);
           transform: scale(1.1)	
     }     
#box-destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media screen and (max-width:500px) {
    #box-unidade{
        margin-top: 1000px;
   }
}
.und{
    font-size: 2.2vh;
    color: #ffff;
}





/*---------------------------------------------------------------Footer.....------*/
footer{
    padding: 15px;
    border: 1px solid red;
    color: #ffff;
    display: flex;
    justify-content: center;
    text-align: center;
   
}

































