  
* {
    margin: 0px;
    padding: 0px;
  }

body{
    margin: 5px;
    background-color: rgb(4, 4, 4);
}
.container{    
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: rgb(14, 13, 13);
    height: 30px;
    color: orange;     
}
a{
    color: orange; 
    text-decoration: none;
}
a:hover 
{
    color: #ffff; 
     text-decoration:none; 
     cursor:pointer;  
}
button{
    border-radius: 5px;
    padding: 4px;
    background-color: orange;

}
#apresent{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
}

.inicio{
    background-image: url(imgs/imgTela.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 73vh;
}

.box1{                                      /* bem vindo   */   
    color: orange; 
    font-size: 1.7rem;
    margin-top: 30px;
}
h1{  
    font-size: 1.5rem; 
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
      }    

.foto{ 
    margin-top: 20px; 
    margin-right: 3%;                     /* foto pessoal   */  
}

.box2{                                    /* dev front end    */
    margin-top:10px;
    color: orange; 
    font-size: 1.5rem;
    margin-right: 7%; 
}

#sobre{  
    color: orange; 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 2rem;  
}

.msg{ 
    display: flex;
    justify-content: center;
    text-align: center;                              /* msg apresentação    */
    margin-top: 5px;
    color: #ffff;
    font-size: 1.2rem;
    line-height: 1.5;
   
}

#redes{                              /* minhas redes    */
    margin-top: 20px;
    display: flx;
    justify-content: center;
    text-align: center;
    font-size: 2rem;  
    color: orange; 
}
.rede{                              /* icones    */
    height: 13vh;
    background-color: rgb(12, 12, 12);
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
.rede :hover{        
    -webkit-transform: scale(1.2);
       transform: scale(1.2)	
 }
.img-git{
    width: 8vh;
}
.img-linkedin{
    width: 8vh;
}
.img-email{
    width: 8vh;
}
.img-telefone{
    width: 6vh;
}
#project{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: orange; 
}
.img-project{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}


















.projeto{
    margin-top: 20px;
    font-size: 2rem;
    color: #ffff;
    display: flex;
    justify-content: center;
    text-align: center;
}
.conta{
    width: 100vw;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#imagem{
    border: 1px red solid;
    width: 220px;
    height: 100px;
}






footer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}






